<div class="past-picks active">
  <header class="sub-header">
    <h2 class="question">Past Picks</h2>
  </header>

  <ul class="questions">
    <%= render partial: 'sites/facebook/questions/question', collection: @questions %>
  </ul>
</div>
