<div class="row">
  <div class="twelve columns">
    <h2>Hi, Test User!</h2>
    <hr />
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <dl class="tabs">
      <dd><a href="/facebook" class="active">Entries</a></dd>
      <dd><a href="#simple2">Leaderboard</a></dd>
      <dd><a href="#simple3">Invite Friends</a></dd>
    </dl>
  </div>
</div>